<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
    <title>Song Finder</title>
</head>

<body ng-controller="MainController">
    <button ng-click="login()">Login with Spotify</button>
    <input type = "text" ng-model = "country" placeholder = "Country">
    <button ng-click="getTopTracks(country)">Get Top Tracks of {{country}}</button>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="angular-spotify.js"></script>
    <script src="main.controller.js"></script>
</body>
</html>