
#loginButton{
    position: absolute;
    top: 25px;
    left: 25px;
}

#userStatus{
    position: absolute;
    color: black;
    top: 25px;
    left: 300px;
}

#countryText{
    position: absolute;
    top: 75px;
    left: 25px;
}

#searchButton{
    position: absolute;
    top: 75px;
    left: 300px;

}

#countryOut{
    position: absolute;
    top: 75px;
    left: 500px;
}

#dsk{
    position: relative;
    top:100px;
}
