<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="spotifyV2.js"></script>
        <script src="controllerV2.js"></script>

    </head>

    <style id="style"></style>

    <body id="body" ng-controller="spotifycontroller">
        <button id="loginButton" class="Button" ng-click="login()">Login with Spotify</button>
        <div id="userStatus" class="Text" contenteditable="true">{{editmode ? 'Online' : 'Offline'}}</div>
        <input id="countryText" type="text" ng-model="country" placeholder="Country">
        <button id="searchButton" ng-click="getTopTracks(country)">Get Top Tracks of {{country}}</button>
    </body>
</html>